body {
    font-family: 'Open Sans', sans-serif !important;
}

nav {
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
}

.bg-custom-background {
    background-image: url('/src/assets/media/luxo-moderno-em-design-confortavel-de-sala-de-estar-domestica-gerado-por-ia.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header_title {
    text-align: center;
    height: 94vh;
}

.header_title {
    color: white;
}

.header_title .font-bold {
    font-weight: bold;
}

.header_title h1 {
    padding: 8px;
    font-size: 2rem;
    font-weight: bold;
}

.header_title p {
    font-size: 1.3rem;
    font-weight: normal;
}

.about_us_img img {
    border-radius: 418px;
    width: 418px;
    height: 418px;
    box-shadow: 0px 4px 20.6px 0px rgba(0, 0, 0, 0.25) !important;
}

.fixed_whatsapp img {
    height: 99.365px;
}